.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  color: white;
}
.title {
  display: block;
  color:#ecf2f3;
  font-size: large;
}


.MuiButtonGroup-root {
  display: inline-flex;
  flex-wrap: wrap;
}

.MuiToolbar-root {
  justify-content: space-around;
}


.MuiGrid-container {
  width: 50%;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
